/*----------- carousel ----------- */

.glyphicon-chevron-right:before{
	content: "\e080
		20:00";
	font-size:20px;
	right:-60%;
	margin-top: -25%;
	position: absolute;
}
.glyphicon-chevron-left:before{
	content: "\e079
		19:00";
	font-size:20px;
	left:-15%;
	margin-top: -25%;
	position: absolute;
}



/*----------- drag and drop ----------- */
.over {
	border: 2px dashed black;
	opacity: 1;
}
.dragging {
	opacity: 0.5;
}


/*----------- history button----------- */

.btn.btn-default {
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    background-color: #222;
    color: #999;
    border-color: #222;
}
.dropdown-menu {
    background-color: #222;
    color: #999;
    border-color: #999;
}
.dropdown-menu>li>a {
    color: #999;
}
/* ----------- field ----------- */

.switch-ios.switch-toggle a {
    background-color: #5cb85c;
}
.result {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    float: right;
	opacity: 0.5;
}
.whiteScore {
    margin-right: 15px;
}
.blackScore {
    color: black;
    margin-left: 15px;
}
#fieldImg1,#fieldImg2 {
    width: auto;
    height: 600;
}
.rightContainer {
    float: left;
    width: 375px;
    height: 600;
    //margin-right: 30%;
    display: inline-block;
    position: relative;
}
.fieldContainer {
    position: relative;
    //background-color: green;
    float: left;
}
.department {
    z-index: 10;
    height: 30%;
    text-align: center;
    position: relative;
}
.department.gk {
    z-index: 10;
    height: 9%;
    text-align: center;
    position: relative;
}
.subDepartment{
    display: block;
    float:  left;
    height: 100%;
    width: 33%;
}
.subDepartment.gk{
	position: relative;
	left: 33%;
}
.playerField {
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    top: 40%;
    position: relative;
    border-radius: 7px;
    margin: 0px 10px 0px 10px;
}
.playerField:hover {
	box-shadow: 0px 0px 5px 2px orange;
	cursor: move;
}

.playerField.white {
    background-color: white;
    color: black;
}
.playerField.black {
    background-color: black;
    color: white;
}
.teamContainer {
    position: absolute;
    left: 10px;
    right: 10px;
    z-index: 50;
}
.teamContainer.top {
    top: 1%;
    bottom: 50%;
}
.teamContainer.bottom {
    bottom: 1%;
    top: 50%;
}
/*.teamContainer.white {
    background-color: white;
    color: black;
}
.teamContainer.black {
    background-color: white;
    color: black;
}*/

.teamTools{
	height: 100%;
	width: 10%;
	position: absolute;
	left: 100%;
}
.toolIcon{
	display: block;
	padding-left: 10px;
	font-size: 120%;
	cursor: pointer;
}
.toolIcon:hover{
	color: #5cb85c;
	/*font-size: 130%;*/
}
.toolIcon.disabled{
	color: gray !important;
	cursor: default !important;
}

/* ----------- left column (players) ----------- */

.leftContainer {
    width: 200px;
    float: left;
    display: inline-block;
    height: auto;
    margin-right: 15px;
}
div.players {} .playerHeader {
    border-bottom: solid black 1px;
    margin-bottom: 5px;
}
.player.proposed {
    font-style: italic;
    color: blue;
}
.player.unknown {
    color: darkgray;
    font-style: italic;
}
.player:hover {
    text-decoration: underline;
}

/*----------------badge-----------------*/
.badge.header {
    font-size: 20px;
    background-color: orange;
}
.badge {
    font-style: normal;
    background-color: #5cb85c;
}
.badge.preferred {
    background-color: #f0ad4e;
}
.badge.mandatory {
    background-color: #d9534f;
}
.badge.unknown {
    background-color: lightgray;
}
.badge.field{
	width: 100%;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-left-radius: inherit;
	border-bottom-right-radius: inherit;
}

/*--------------------------------------*/
.progress {
    background-color: lightgray;
}
.hourRow {
    float: left;
    height: 2.0em;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
div.hour {
    float: left;
    font-size: 14px;
    padding-right: 10px;
}
#newPlayer {
    position: relative;
    width: 340px;
    z-index: 1000;
}
#addPlayer:hover {
    cursor: pointer;
}
