# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/.ftpsync_settings
.DS_Store
config.php
/css/stylesheet.min.css
/css/toggle-switch.min.css
/js/main.min.js
/php/phpInfo.php
